/*-----General-----*/
.row {
    margin-left: auto;
    margin-right: auto;
}

.center {
  align-items: center;
  justify-content: center;
}

.alignleft {
  text-align: right;
}

.sectionmargin {
  margin-bottom: 5em;
}

.sectionbackground {
  background-color: #343a40;
}

.marginlist {
  margin-bottom: 1em;
}

.paddingtop {
    padding-top: 9em;
}

.titlestyle {
    margin-bottom: 1em;
    text-align: center;;
}

.textcolor {
  color:#e9ecef;
}
/*-----Header-----*/

.navbarfixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal-backdrop.show {
    opacity: 0;
    z-index: -1;
}

.modal {
  margin-top: 8em;
}

/*-----Hero-----*/

.herosection {
  height: 100vh;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.herocaption {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rowcard {
  justify-content: space-around;
}

.card-img-top {
  margin-top: 1em;
  border-radius: .25rem;
}

.marginheader {
  margin-left: 0.4em;
}

.pheader {
  margin-bottom: 0rem;
}

.reply {
  margin-bottom: 0.5em!important;
}
